#elem1 {
	width: 100px;
	height: 100px;
	background: #49f153;
	margin-bottom: 20px;
}

#elem2 {
	padding: 25px; /* задаем отступы увеличивается размер*/
	width: 100px;
	height: 100px;
	background: #f1f1f1;
	border: 10px solid green;  /* задаем границу */
	box-sizing: border-box;  /* убираем расширение */
}


