body {
	background-image: url("картинка1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	
}
div{
	background-image: url("pacture2.jpg");
	margin: 10% 20% 50% 20%;
	opacity: 0.6;
	padding: 1em 3em;
	width: 450;
}
p{
	opacity: 1.1;
	
}
