#parent {
	width: 500px;
	border: 2px dotted blue;
}
#child {
	height: 500px;
	border: 2px solid orange;
	margin: 30px;
}

#parent1 {
	width: 500px;
	border: 2px dotted blue;
}
#child1 {
	height: 400px;
	border: 2px dotted green;
	margin: 30px;
}
#child2 {
	height: 300px;
	border: 2px solid red;
	margin: 30px;
}
