/*Покрасьте содержимое первого и третьего дива в красный цвет, 
содержимое второго дива и четвертого - в зеленый ширина 600. 
Для этого первому и третьему дивам дайте один класс, 
а второму и четвертому - другой класс.
*/
.eee {
	font-size: 20px;
	
}
.zzz {
	font-size: 30px;
	
}
.eee, .zzz {
	line-height: 1.5;
	font-family: Arial;
}


